h1,
h2,
h2,
p {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
.container {
  border-radius: 10px;
  margin: auto auto;
  width: 70%;
  height: 100%;
  background-color: lightblue;
  display: flex;
}
.title {
  width: 100%;
  height: auto;
}
.title h1 {
  text-align: center;
  letter-spacing: 0.2em;
}
.weather-container {
  width: 100%;
  display: flex;
  position: relative;
}
.weather-container img {
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}
.weather-info-container {
  position: absolute;
  width: 300px;
  height: 350px;
  background-color: lightblue;
  border-radius: 10px;
  bottom: 400px;
  left: 400px;
}
