h1,
h2,
h2,
p {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  text-align: center;
}

body {
  background-image: url("./media/stansbury-bg.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font-size: 20px;
}
.title {
  width: 600px;
  margin: auto;
  height: auto;
  padding: 20px;
}
.title h1 {
  font-size: 32px;
  background-color: rgb(175, 235, 255);
  border-radius: 10px;
}
.container {
  border-radius: 10px;
  margin: auto auto;
  width: 70%;
  height: auto;
  background-color: rgb(175, 235, 255);
  margin-bottom: 20px;

  display: flex;
}
.news-container {
  border-radius: 20px;
  flex-direction: column;
  background-color: rgb(175, 235, 255);
  height: auto;
}
.news-container h1,
p {
  padding: 10px 30px;
}
.news-container h1 {
  font-size: 32px;
}
.news-container p {
  margin: 0 auto;
  font-size: 22px;
  width: 600px;
}
.main-container {
  width: 100%;
  height: auto;
}
.main-container h1 {
  text-align: center;
  letter-spacing: 0.2em;
}
.date h1 {
  color: black;
}
.temp {
}
.weather {
  padding: 0;
  margin: auto;
  border-radius: 10px;
  width: 175px;
  height: auto;
  background-color: rgb(232, 242, 251);
}
.weather-container {
  padding: 20px;
  width: auto;
  display: flex;
  position: relative;
}
.weather-container img {
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}
.weather-info-container {
  padding: 20px 0;
  display: flex;
  width: 100%;
  height: auto;

  border-radius: 10px;
}
